[submodule "pack/bundle/start/syntastic"]
	path = pack/bundle/start/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule "pack/bundle/start/vim-vividchalk"]
	path = pack/bundle/start/vim-vividchalk
	url = https://github.com/tpope/vim-vividchalk
[submodule "pack/bundle/start/vim-sensible"]
	path = pack/bundle/start/vim-sensible
	url = https://github.com/tpope/vim-sensible
[submodule "pack/bundle/start/vim-abolish"]
	path = pack/bundle/start/vim-abolish
	url = https://github.com/tpope/vim-abolish
[submodule "pack/bundle/start/vim-fugitive"]
	path = pack/bundle/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "pack/bundle/start/vim-surround"]
	path = pack/bundle/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "pack/bundle/start/vim-airline"]
	path = pack/bundle/start/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "pack/bundle/start/supertab"]
	path = pack/bundle/start/supertab
	url = https://github.com/ervandew/supertab
[submodule "pack/bundle/start/nofrils"]
	path = pack/bundle/start/nofrils
	url = https://github.com/robertmeta/nofrils
[submodule "pack/bundle/start/LanguageClient-neovim"]
	path = pack/bundle/start/LanguageClient-neovim
	url = https://github.com/autozimu/LanguageClient-neovim.git
[submodule "pack/bundle/start/fzf"]
	path = pack/bundle/start/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "pack/bundle/start/Ionide-vim"]
	path = pack/bundle/start/Ionide-vim
	url = https://github.com/ionide/Ionide-vim
